{% if section.settings.show_announcement %}
  <div
    class="p-3 text-center"
    style="
      color: {{ section.settings.text_color }};
      background-color: {{ section.settings.background_color }};
    "
  >
    <p class="text-sm font-medium">
      {% if section.settings.announcement_link != blank %}
        <a href="{{ section.settings.announcement_link }}">
          {{ section.settings.announcement_text }}
        </a>
      {% else %}
        {{ section.settings.announcement_text }}
      {% endif %}
    </p>
  </div>
{% endif %}
